.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.card {
  background-color: white;
  width: 20%;
  min-height: 50vh;
  margin: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.18);
}

.card img {
  max-width: 50%;
}

@media screen and (max-width: 1050px) {
  .cards-container {
    flex-direction: column;
  }

  .card {
    width: 70%;
  }
}
