body {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #47C9F1;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Capa_1 {
/*  width: 100%;
  height: 100%;*/
  animation-name: get-reduced;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes get-reduced { from {  } to {  width: 50%; height: 70%; }  }
        @keyframes get-reduced { from {  } to {  width: 50%; height: 70%; }  }


.home-title {
  height: 0vh;
  opacity: 0;
  text-align: center;
  animation-name: show-on;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  display: none;
}

.home-title h1 {
  font-size: 8pc;
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 20px;
  font-weight: bolder;
}

.home-title h4 {
  font-size: 3pc;
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 10px;
  font-weight: lighter;
  color: #16444F;
}

@-webkit-keyframes show-on { from {  height: 0vh; opacity: 0; } to {  height: 30vh; opacity: 1; }  }
        @keyframes show-on { from {  height: 0vh; opacity: 0; } to {  height: 30vh; opacity: 1; }  }
